body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #2980b9;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.main-content h2 {
    color: #333;
    text-align: center;
}

.main-content p {
    color: #666;
    text-align: justify;
}

button {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #16a085;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.feature {
    flex: 1;
    max-width: 700px;
    margin: 20px;
    padding: 20px;
    background-color: #5EFF33 ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature img {
    max-width: 100%;
    border-radius: 10px;
}

.feature h3 {
    color: #000000;
    margin-top: 10px;
    text-align: center;
}

.feature p {
    color: #000000;
    text-align: justify;
}

footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.explore-btn {
    display: inline-block;
    background-color: #1abc9c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.explore-btn:hover {
    background-color: #16a085;
}
